body{
    margin: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
.titleHead ul{
    display: flex;
    list-style: none;
    text-align: left;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.titleHead a{
    color:#db9509;
    text-decoration: none;
}

.titleHead{
    display: flex;
    height: 15vh;
    background-color: #4A3343;
}

.titleHead img{
    height: 69%;
    margin-top: 10px;
    margin-left: 10px;
}

.titleHead li{
    padding: 2px 5px;
    position: relative;
    color:#FBBE43;
    top: 30%;
    right: 5%;
}


.container1{
    display: grid;
    justify-content: center;
    background-image: linear-gradient(rgb(52, 212, 218), rgb(81, 218, 149)); 
}

.container1 img{
    height: 450px;
    width: 850px;
}

.section1{
    color: black;
    font-size: 15px;
    width: 70%;
    font-weight: bolder;
}

.section1 ul{
    display: flex;
    justify-content: flex-end;
}

.section1 li{
    position: relative;
    padding: 2px 2px;

}

.ytVideo{
    padding-top: 40px;
    position: relative;
    width: 100%;
    height: "0";
    text-align: center;
}

.section2{
color: black;
}

.section2 h2{
    color: #db9509;
}

.section2 button{
    position: relative;
    background-color: #FBBE43;;
    border: white;
    font-size: 18px;
    font-family: sans-serif;
    padding: 24px 42px;
    border-radius: 5px;
}

.section3{
    display: grid;
    color: black;
    position: relative;
    text-align: center;
    
}

.section3 .boxSet{
    width: 10%;
    grid-template-columns: 6fr 6fr;
}

.section3 .box1{
    background-color: #CF364C;
  
}
.section3 .box2{
    background-color: cadetblue;
   
}
.section3 .box3{
    background-color: darksalmon;
  
}
.section3 .box4{
    background-color: gainsboro;
  
}
.section3 .box5{
    background-color: goldenrod;
  
}
.section3 .box6{
    background-color: mediumslateblue;
  
}

.section4{
    background-color: #4A3343;
    display: grid;
    grid-template-columns: 6fr 6fr;
    font-size: 130%;
}

.section4 .container2 img{
    position: relative;
    height: 100%;
    width: 100%;
}

.section4 .sec4Labels{
    text-align: left;
    width: 60%;
    padding-top: 20%;
    padding-left: 5%;
    line-height: 30px;
}

.section4 button{
    display: flex;
    flex-direction: row;
    background-color: #FBBE43;;
    border: white;
    font-size: 18px;
    font-family: sans-serif;
    padding: 24px 42px;
    border-radius: 5px;
    margin-top: 5%;
}


.section4 h1{
    color: #FBBE43;
}

.section5{
    position: relative;
    color: black;
    background-color: aquamarine;
    padding: 1px 4px;
}

.section6{
    color: black;
}
    
.section7{
    background-color: #4A3343;
    }

.section7 h2{
    color: black;
    color: #FBBE43;
}

.section8{
    color: black;
}

.section9{
    display: grid;
    grid-template-columns: 6fr 6fr;
    width: 100%;
    color: black;
    text-align: left;
    height: 45vh;
    font-size: 125%;
    line-height: 20%;

}

.section9 h2{
    font-size: 50px;
    
}

.section9 .part1{
    background-color:  #62C3D4;
    color: aliceblue;
    width: 100%;
    padding-left: 30%;
    padding-top: 10%;
   

}

.section9 .part2{
    background-color:  #CF364C;
    color: aliceblue; 
    width: 70%;
    padding-left: 30%;
    padding-top: 10%;
    
}

.Footer{
    display: grid;
    grid-template-columns: 3fr 3fr;
    background-color: #4A3343;
    padding-right: 40%;
}

.Footer a{
        color: aliceblue;
      text-decoration: none;
}

.Footer h3{
    color: #FBBE43;
    position: relative;
}

ul{
    list-style: none;
    text-align: left;
    width: 100%;
    padding-left: 35%;
}
