body{
    margin: 0;
}

.titleHead{
    display: flex;
    height:127px;
    background-color: #4A3343;
}
.titleHead img{
height: 69%;
margin-top: 10px;
margin-left: 10px;
}


.container1{
    display: grid;
    justify-content: center;
    background-image: linear-gradient(rgb(52, 212, 218), rgb(81, 218, 149)); 
}
.container1 img{
    height: 450px;
    width: 850px;
}

li{
    display:inline-flex;
    color: yellow;
}

.section1{
font-size: 15px;
justify-content: right;
text-align: right;
text-decoration: underline;
position: relative;
Right: 350px;
}

.section2{
    background-color: #4A3343;
}

.section2 img{
    height: 464px;
    width: 571px;
}